/* Стили для body */
body {
    margin: 0;
    padding: 0;
    background-image: url('/69.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    height: 100vh;
    /* Другие стили фона, если необходимо */
}

.container {
    position: relative; /* Позиционируем контейнер относительно его обычного положения */
    width: 100%; /* Ширина контейнера равна ширине родительского элемента */
    height: 400px; /* Высота контейнера */
    display: flex; /* Используем flexbox для центрирования по вертикали и горизонтали */
    align-items: center; /* Центрируем элементы по вертикали */
}

.overlay-link {
    position: absolute; /* Позиционируем ссылку абсолютно */
    top: 150%; /* Располагаем ссылку в верхней части контейнера */
    left: 100px; /* Отступ от левого края */
    width: 370px; /* Ширина ссылки */
    height: 90px; /* Высота ссылки */
    background-color: transparent; /* Прозрачный фон */
}

.overlay-link::after {
    content: ''; /* Добавляем псевдоэлемент для создания прямоугольной области ссылки */
    position: absolute; /* Позиционируем псевдоэлемент абсолютно */
    top: 0; /* Выравниваем сверху */
    left: 0; /* Выравниваем слева */
    width: 100%; /* Ширина равна ширине контейнера */
    height: 100%; /* Высота равна высоте контейнера */
    z-index: 1; /* Определяем z-index, чтобы обеспечить видимость над изображением */
}



/* Для устройств шире 768px */
@media screen and (min-width: 768px) {
    /* Ваши стили здесь */
}

/* Для устройств шире 1024px */
@media screen and (min-width: 1024px) {
    /* Ваши стили здесь */
}
